.dl-mq-md-mixin-category (@a) when (@a = true), (@a = MD_screenWidth) {

.cat-head {
	.overlay{
		h1{
			font-size: 36px;
		}
	}
}

.cat-list-item {
	padding:10px 0;
	position:relative;
 
	.category{
		width: 380px;
		height:150px;
		float:right;
	}
	.overlay {
		width:325px;
		height:150px;
		text-align:center;
		position:relative;
		float:right;

		h2{
			font-size: 18px;
			font-weight: 300;
			margin:7px 0 4px 0;
		}
		p{
			padding: 0 29px;
			text-align: justify;
			margin:0;
			font-weight:300;
		}
		a{
			position:absolute;
			left:0;
			bottom:5px;
			width:100%;
			text-align:center;
			
			span.shop{
				font-size: 13px;
				padding-right: 5px;
			}
			span.title{
				font-size: 12px;
				text-align: center;
			}
		}
	}
}

  .tts-gateway-text{
		font: 500 22px/1.7em 'Lato';
 }
 
 car-cat-list-item{
	.careersoverlayR, careersoverlayL{
		width:340px;
	}
 }
 .tts-img-div-center{
	margin:0 20px;
}
.tts-img-div, .tts-img-div-center {
	padding-top:20px; 
	float:left; 
	position:relative;
}
	
.tts-glass-div,.tts-stone-div, .tts-installation-tools-div {
	width:30%;
	padding-bottom:5%;
}	
.creditcard {
	.manage{
		position:absolute;
	}
	.main{
		.mtitle{
			font-size:33px;
		}
	}
	.room{
		background:#fff url(/images/image_assets/gateway/creditcard/room-holder.jpg) bottom no-repeat;
		width:208px;
		height:161px;
	}
	.rooms{
		padding:8px 0 23px 46px;
		font-size:14px;
		.large{
			font-size:22px;
		}
		.plans{
			margin:24px 0 15px 0;
			width: 100%;
			line-height: 28px;
			.plan{
				font-size:31px;
				line-height:41px;
			}
		}
	}
	
}
 .tts-img-outerdiv{
	.promo{
		font-size: 33px;
	}
}
}